body {
    font-family: Georgia, sans-serif;
    margin: 50px;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00509e;
    padding: 15px;
    margin-left: 0px;
}

.logo img {
    height: 50px;
}
.menu {
    position: relative;
    display: inline-block;
}

.menu-icon {
    cursor: pointer;
    padding: 10px;
    background-color: #00509e;
    color: white;
    display: inline-block;
    border-radius: 5px;
}

.menu-icon span {
    display: block;
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 5px 0;
}

.dropdown {
    display: none; /* Oculta el menú inicialmente */
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /*menú esté al frente */
}

.dropdown a {
    display: block;
    text-decoration: none;
    color: #00509e;
    padding: 10px;
    transition: background-color 0.3s;
}

.dropdown a:hover {
    background-color: #f2f2f2;
}

.menu:hover .dropdown {
    display: block; /* Muestra el menú al pasar el ratón */
}


/* TABLA */

table {
    border-collapse: collapse; /* Quita los bordes dobles */
    width: 80%; /* Ancho ajustado */
    margin: 20px auto; /* Centra la tabla horizontalmente */
    font-family: Arial, sans-serif; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para realzar */
    background-color: white; /* Fondo blanco de la tabla */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Elimina desbordamientos */
}

/* Encabezado */
thead {
    background-color: #00509e; 
    color: white; 
    font-weight: bold; 
}

thead th {
    padding: 15px; 
    text-align: left;
    font-size: 16px; 
}

/* Cuerpo de la tabla */
tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; 
}

tbody tr:hover {
    background-color: #cce5ff; 
    transition: background-color 0.3s ease; 
}

tbody td {
    padding: 12px; 
    text-align: left; 
    font-size: 14px; 
    color: #03407c; 
    border-bottom: 1px solid #ddd; 
}


tbody tr:last-child td {
    border-bottom: none;
}

/*CONTAINER*/

.container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    gap: 20px; /* Espacio entre la imagen y el texto */
    margin: 20px auto; 
    max-width: 1200px; 
    padding: 10px; 
}

.container img {
    width: 300px;
    height: auto; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.container p {
    font-size: 16px; 
    line-height: 1.6; 
    color: #02315f; 
    flex: 1; 
    margin: 0; 
}


/*LOGO*/
.logoRACE{
    display: flex;
    gap: 20px;
    padding: 10px; 
    
}
.logoRACE img{
    margin-right: 10px;
    
}
.logoRACE p{
    color: #02315f;
    font-size: 16px;
    line-height: 1.6; 
    
}



/*TEXTO*/
p{
    text-align: justify; 
    color: #02315f;
}


h2 {
    font-family: "Anton", sans-serif;
    font-size: 2em; 
  
    
    margin: 20px 0; 
    color: #00509e; 
}


