
body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    box-sizing: border-box; 
}

form {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    box-sizing: border-box;
}


h2 {
    text-align: center;
    color: #333;
}

fieldset {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    color: #444;
}


label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0; 
}

ul li {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    margin-bottom: 5px; 
}

ul li input[type="radio"] {
    margin-right: -200px; 
}



/* Hover and Focus */
input:focus, select:focus, button:focus {
    border: 2px solid #007BFF;
    outline: none;
}

/* Botones */
button[type="submit"] {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #218838;
}

button[type="reset"] {
    background-color: #dc3545;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button[type="reset"]:hover {
    background-color: #c82333;
}



/* Campos específicos */
input[type="text"]:invalid,
input[type="tel"]:invalid,
input[type="email"]:invalid {
    border: 2px solid red;
    background-color: #ffe6e6;
}

input[type="text"]:valid,
input[type="tel"]:valid,
input[type="email"]:valid {
    border: 2px solid green;
    background-color: #e6ffe6;
}
